/**
 * Header
 * -----------------------
 */
#global-header {
	height: auto;
	width: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
#global-header.colors-gray,
#global-header.colors-gray:before,
#global-header.colors-gray:after {
	background-color: #5e6a71;
}
#global-header.colors-green,
#global-header.colors-green:before,
#global-header.colors-green:after {
	background: #8f7e35;
}
#global-header.colors-orange,
#global-header.colors-orange:before,
#global-header.colors-orange:after {
	background: #b67233;
}
#global-header.colors-blue,
#global-header.colors-blue:before,
#global-header.colors-blue:after {
	background: #4f868e;
}
#global-header.colors-yellow,
#global-header.colors-yellow:before,
#global-header.colors-yellow:after {
	background: #c69214;
}
#site-heading {
	padding: 1rem 2rem;
}
#site-heading {
	color: #fff;
	font-family: 'Open Sans', 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
	font-size: 0.75rem;
	letter-spacing: 2px;
	line-height: 1rem;
	text-transform: uppercase;
}
#network-title {
	display: inline-block;
	font-weight: bold;
}
#network-title span {
	display: none;
}
#site-title {
	border-left: 1px solid #fff;
	display: inline-block;
	margin-left: 0.75rem;
	padding-left: 1rem;
}

/**
 * Misc. overrides
 * -----------------------
 */
#post-featured-image {
	display: none;
}
main > section {
	background: #fff;
	margin: 0 !important;
	z-index: 1;
}
main section.row article {
	padding: 1.25em 2em 2em;
}
main section aside {
	padding: 1.25em 2em 0;
}
main section aside:last-of-type {
	padding-bottom: 1em;
}

/**
 * Media Queries
 * -----------------------
 */
@media only screen and (max-width: 693px) {
	#network-title {
		display: block;
	}
	#site-title {
		border-left: none;
		display: block;
		margin-left: 0;
		padding-left: 0;
	}
}