/**
 * Overrides for The Event Calendar, could use more work
 */
.single-tribe_events .article-header {
	display: none;
}
.events-list .tribe-events-loop,
.tribe-events-day .tribe-events-loop,
.single-tribe_venue .tribe-events-loop,
.single-tribe_organizer .tribe-events-loop {
	max-width: none;
}
.tribe-events-calendar td.tribe-events-present div[id*="tribe-events-daynum-"],
.tribe-events-calendar td.tribe-events-present div[id*="tribe-events-daynum-"]>a,
#tribe_events_filters_wrapper input[type=submit],
.tribe-events-button,
#tribe-events .tribe-events-button,
.tribe-events-button.tribe-inactive,
#tribe-events .tribe-events-button:hover,
.tribe-events-button:hover,
.tribe-events-button.tribe-active:hover {
	background-color: #981e32;
}
#tribe-events-content .tribe-events-tooltip h4,
#tribe_events_filters_wrapper .tribe_events_slider_val,
.single-tribe_events a.tribe-events-ical,
.single-tribe_events a.tribe-events-gcal {
	color: #4f868e;
}
.tribe-events-back {
	margin: 0;
}
ul.tribe-events-sub-nav a,
.tribe-events-back a,
.tribe-events-list-widget .tribe-events-widget-link a,
.tribe-events-adv-list-widget .tribe-events-widget-link a {
	font-size: 14px;
	font-weight: normal;
}

.hfeed.vcalendar {
	margin-bottom: 1em;
	padding: 0;
}
.hfeed.vcalendar li {
	list-style: none;
	margin: 0;
}
.tribe-events-widget-link {
	text-align: right;
}
.tribe-events-widget-link a:after {
	content: ' »';
}